.imagefond {
  display: block;
  align-items: center;
}


.fondindex {
  background-color: #00C278;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.border__img--fond {
  width: 100%;
  height: 48px;
  background: #007548;
}

h1 {
  font-size: 24px;
  font-family: var(--dosis);
  color: #000000;
  margin-left: 22px;
}

h2 {
  font-size: 20px;
  font-family: var(--dosis);
  color: #000000;
  margin-left: 22px;
}

p {
  font-size: 16px;
  font-family: var(--dosis);
  color: #000000;
  margin-left: 22px;
  margin-right: 22px;
}

.main__nav--ul__ap {
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  align-items: left;
}

.main__nav--ul__ap a {
  list-style: none;
  line-height: 50px;
  color: black;
  margin-left: 15px ;
  margin-right: 15px;
  margin-top: 15px ;
  margin-bottom: 15px;
  font-size: 16px;
  font-family: var(--dosis);
  color: #000000;
  
}

.main__nav--ul__li{
  margin-left: 15px ;
  margin-right: 55px;
  margin-top: 10px ;
  margin-bottom: 5px;
  list-style: none;
  background-color: #007548;
  border-radius: 10px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}