.header__nav {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #007548;
}

.header__nav--ul li {
  list-style: none;
}

.rectangle {
  height: 48px;
  width: 375px;
  background-color: #007548;

}

.imagefond {
  display: block;
  border-bottom: 48px solid #007548;

}


.fondindex {
  background-color: #00C278;
}

.header__nav--btn {
  display: block;
  margin: 20px 30px 0 auto;
}

.header__btn {
  display: block;
  margin: 20px 30px 0 auto;
}