.menuli {
  list-style: none;
}

.rectangle {
  height: 48px;
  width: 375px;
  background-color: #007548;

}

.imagefond {

}

.fond {
  background-color: #00C278;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background-color: #00C278;
}