img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

figcaption {
  font-size: var(--text-xs);
  color: var(--gray-600);
}

.image-voixdaida {
  display: flex;
  align-items: center;
  margin: auto;
  margin-bottom: 20px;
}

.image-thefixer_2 {
  display: flex;
  margin: auto;
  gap: 30px;
  margin-left: 25px;
  margin-bottom: 20px;

}

.image-thefixer {
  display: flex;
  align-items: center;
  margin: auto;
}

.image-espoir {
  display: flex;
  align-items: center;
  margin: auto;
  margin-bottom: 20px;
}