.footer {
    width: 100%;
    height: 360px;
    background-color: #3E3D3D;
    padding: 1px 0px 0 0;
    font-family: Arial, Helvetica, sans-serif;
    /* color: blanchedalmond; */
    text-align: center;
    position: relative;
    bottom: 0;
    z-index: 0;
    border-top: #007548;
    border-top-style: solid;
    border-top-width: 48px;
}

.footer__clickable {
    text-decoration: underline;
    font-style: italic;
}

.footer__text {
    font-size: 14px;
    line-height: 16px;
    margin: 10px 20px 0 20px;
}

.footer__text p {
    font-size: 14px;
    line-height: 16px;
    margin: 10px 20px 0 20px;
    color: #fff;
    padding-bottom: 10px;
    /* mettre luxurious roman */
}


.footer__text a {
    color: blanchedalmond;
}
  
  .footer__icon--mmi {
    max-width: 50px;
    max-height: 50px;
  }

  .footer__icon {
    display: flex;
    justify-content: center;
  }

  .footer__icon--logo {
    width: 40px;
    height: 40px;
  }

  .footer__icon--logo__mmi {
    display: flex;
    justify-content: right;
}
