.header {
    width: 100%;
    height: 100%;
    background-color: #007548;
    display: flex;
    justify-content: space-between;
  }

.logo {
    display: block;
    width:40px;
    padding: 15px 0 10px 10px;
}

.header__nav--btn {
    display: block;
    margin: 10px 10px 0 10px;
    width: 50px;
    height: 50px;
    background-color: #007548;
    border: none;
    right: 0px;
    position: fixed;
    align-items: flex-end;
}
  
  .header__btn {
    display: block;
    margin: 10px 10px 0 10px;
    width: 50px;
    height: 50px;
    background-color: #007548;
    border: none;
 }

  .header__nav {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #007548;
    overflow: hidden;
    z-index: 20;
}

  
  .header__nav--ul li {
    font-family: var(--dosis);
    font-size: 24px;
    display: flex;
    flex-direction: column; 
    list-style: none;  
    line-height: 80px;
    color: blanchedalmond;
}
  
.header__nav--ul a {
    color: blanchedalmond;
}

.icon_langue {
    width: 70px;
    height: 70px;
    display: block;
    margin: auto;
    
}