.img-filmo-g {
    margin-left: 15px ;
    margin-right: 15px;
    margin-top: 10px ;
    border-radius: 10px;
}

.img-filmo-d {
    margin-left: 15px ;
    margin-right: 15px;
    margin-top: 10px ;
    border-radius: 10px;
}

.filmo-pack {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin-left: 15px ;
    margin-right: 15px;
    margin-top: 10px ;
    margin-bottom: 20px;
    list-style: none;
    background-color: #007548;
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    padding-bottom: 10px;
}

p {
    font-family: var(--dosis);
    font-size: 1.2em;
    color: #fff;
    text-align: center;
}